body {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin: 13px;
}
nav {
    background-color: orange;
    color: white;
    justify-content: space-between;
    display: flex;    
}
nav > div{
    text-align: left;
    display: flex;
    gap: 10px;
}
#Middle {
    text-align: center;
    gap:10px;
}
#End {
    gap:10px;
    text-align: left;
    background-color: #fff1d6;
    padding: 5px;
    gap:10px;
}
ul {
    padding-left: 20px;
    text-align: left;
}
footer {
    gap:10px;
    text-align: center;
    background-color: #ffd89c;
    padding: 15px;
    gap:10px;
}